/*PALETTE
https://www.code-couleur.com/palettes-5.html
#2e1c08 (dark)
#63100f	(red)
#ffa420	(orange)
#ffd133	(yellow)
#ffedd0 (light)

/***********************************/
/* GLOBAL */
*{
	margin: 0;
	padding: 0;
}

#main{
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	
}
#content{
	flex-grow: 1;
}
h1{
	font-size: 18px;
}

.title{
	display: flex;
	width: 100%;
}
.title >h1{
	margin : 15px auto;
	font-size: 24px;
}
ul {
	padding-left: 30px;
}
.bloc{
	padding: 5px 20px;
}

.mini-form{
	margin: 10px 25%;

}

fieldset{
	margin-bottom: 20px;
}

input, select{
	margin-bottom: 10px;
	box-shadow: 1px 1px 2px #2e1c08;
	padding-left: 5px; 
}
#firstname,
#lastname,
#username,
#pwd,
#question,
#answer,
#verif,
#newpwd
{
	width:100%;
	height: 30px;
}

.btn{
	background: #ffedd0;
	color : #63100f;
	border:0.5px solid #2e1c08;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

.btn:hover{
	background: #63100f;
	color:#ffedd0;
}
/***********************************/
/* HEADER */

header{
	height: 15%;
	padding: 1% 1% 0 1%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #2e1c08;
	background: #ffedd0;
}

#header-logo{
	margin-right: auto;
}
#header-user-infos{
	margin-left: auto;
}

#header-logo img{
	width:100px;
}

#header-user-infos{
	font-size: 16px;
	margin-right: 15px;
	margin-top: 10px;
}
#header-user-infos >a> .fas{
	font-size: 30px;
    vertical-align: sub;
    color:#63100f;
    margin-right: 2px;
}
#header-user-infos >a>.fas:hover{
	color: #ffa420;
}

/***********************************/
 /* FOOTER */
footer{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:100px;
 	height: 100px;
    font-size: 18px;
    background: #ccc;
    width: 100%;
    background: #2e1c08;
	color: #ffd133;
}
.footer-content > a{
	vertical-align: text-top;
	color: #ffd133;
}
.footer-content > a{
	color:#FFA420;
}

/***********************************/
/* LISTACTORVIEW */

/* Présentation */
#presentation{
	border-bottom: 1px solid #2e1c08;
	padding-bottom: 20px;
}


/* GBAF */
.gbaf_presentation{
	font-size: 18px;
}
.gbaf_presentation > ul > li{
	font-size: 16px;
}
/* Bannière */
.banniere{
	height: 200px;
	width: 100%;
	background-image: url(../img/banniere2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #2e1c08;
}

/* Actor-thumbnails */
.actors-text{
	font-size:17px;
	margin-top:30px;
}
.actors-list{
	border: 1px solid #2e1c08;
	background: #ffedd0;
	padding: 15px 7px;
	margin-top: 50px;
}

.actor-thumbnail{
	border : 1px solid #2e1c08;
	box-shadow: 2px 2px 3px #2e1c08;
	background: #fff;
	padding: 10px 5px 10px 5px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.logo-actor-mini{
	max-width : 150px;
	height: 80px;
    margin: 0px 10px;
    border: solid 1px #63100f;
}

.actor-description{
	margin: auto 0px 0px 7px;
	flex: 2;
}
.actor-description>h3{
	font-size: 16px;
}

.rdm{
	font-style: italic;
	align-self: flex-end;
}
.rdm-btn{
	font-size: 13px;
}
 
/***********************************/
/* ACTORVIEW */
.actor-page-content{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.actor-infos{
	display: flex;
	flex-direction: column;
} 
.full-actor-description{
	display: flex;
	flex-direction: column;
	flex-grow: 2;
    justify-content: center;
	margin: 100px 0;
}
.full-actor-description > h2 {
	font-size: 20px ;
}
.bloc .actor-description {
	font-size: 18px;
	border: 1px solid #2e1c08;
}
.comments{
	background: #ffedd0;
	border: 0.5px solid #2e1c08;
	padding-top: 15px;
}
.logo-actor{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 100px;
}
.logo-actor img{
	width: 40%;
	border:1px solid #2e1c08;
}
.bloc-comments-head{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nb-comments{
	font-size: 18px;
	font-weight: bold;
}
.comments-btns{
	display: flex;
	justify-content: space-between;
}
.comments-btns > button{
	background: #fff;
	border:0.5px #2e1c08 solid;
}
.comment{
	background: white;
	border: solid 1px #2e1c08;
	border-radius: 10px;
	margin: 10px 0;
	padding: 15px;
}
.bloc-likes{
	margin-left: 5px;
	font-size: 18px;
	background: #fff;
	border:0.5px #2e1c08 solid;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80px;
}
.fa-thumbs-up{
	color: #385898;
	cursor: pointer;

}
.fa-thumbs-down{
	color: #b1221c;
	transform: scaleX(-1);
	cursor: pointer;
}
/************************************/
/* PROFILEVIEW */
#deco-btn{
	display: flex;
	justify-content: flex-end;
	margin: 10px;
}
#deco-btn > button{
	width: 100px;
	color: #63100f;
	background: #ffedd0;
	box-shadow: 
}
#deco-btn >button:hover{
	color : #ffa420;
}
#deco-btn > button >.fas{
	font-size: 24px;
}

/*************************************/
/* LOGIN */


#login-btn{
	margin-top: 10px;
}

/***********************************/
/* Media queries */

/*tablet*/
@media screen and (max-device-width: 768px){
	.
	logo-actor img {
    	width: 80%;
	}
}

/*mobile*/
@media screen and (max-device-width: 576px){
	/* header */
	header{
		flex-direction: column;
	}
	#header-logo{
		margin-left: auto;
	}
	#header-user-infos{
		margin: auto auto 10px auto;
	}
	/* login */
	label, input{
		width: 100%;
	}
	/* listactorview*/
	.actor-thumbnail{
		flex-direction: column;
	}
	.logo-actor-mini{
		max-width: 90%;
	}

	/* actorView*/
	.logo-actor img {
    	width: 100%;
	}
	.full-actor-description > h2 {
	font-size: 18px ;
}
	.comments-btns{
		width: 100%;
	}
}