/*PALETTE*/
https://www.code-couleur.com/palettes-2.html

/* HEADER */

header{
	height: 15%;
}

header .container-fluid{
	padding: 1% 1%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	border-bottom: 1px solid #1a1d26;
}

#header-logo{
	margin-right: auto;
}
#header-user-infos{
	margin-left: auto;
}

#header-logo img{
	width:70px;
}

/* Bannière */
.banniere{
	height: 200px;
	width: 100%;
	background-image: url(../img/banniere2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* listActorView */

.gbaf_presentation{
	border-bottom: 1px solid #1a1d26;
	font-size: 18px;
}

.actor-text{
	font-size:17px;
}

.actors-list{
	border : 1px solid #1a1d26;
	padding: 15px 7px;
}
.actor-thumbnail{
	height: 90px;
	border : 1px solid #1a1d26;
	padding: 10px 5px 5px 5px;
	margin-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.logo{
	display: flex;
	padding-bottom: 5px;
	padding-right: 20px;
}
.logo-actor-mini{
	max-width : 150px;
	max-height: 100px;
	flex:1;
}
.actor-description{
	margin: auto 0px 0px 7px;
	flex:2;
}
.actor-description>h3{
	font-size: 16px;
}
.rdm{
	font-style: italic;
	margin: auto 0px 0px 0px;
}
.rdm-btn{
	font-size: 13px;
 
 /* FOOTER */
}
footer{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: static;
    height: 100px;
}

/* Media queries */

/*tablet*/
@media screen and (max-device-width: 768px){
}

/*moblie*/
@media screen and (max-device-width: 576px){
}